/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	background-color: #000;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: 'Roboto', sans-serif;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

/*--------------------*/

.title {
	margin: 25px auto 0;
	text-align: center;
	color: #ffffff;
	font-size: 64px;
	font-weight: 700;
	width: max-content;
	line-height: 42px;
}

.wrapper {
	max-width: 1230px;
	padding: 40px 15px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
}

.card {
	max-width: 270px;
	min-height: 100%;
	padding: 15px;
	color: #fff;
	text-align: center;
	background-color: #333;
	margin: 0 15px 30px;
	transition: all .3s;
	cursor: pointer;
}

.card:hover {
	background-color: rgb(62, 96, 234);
	border-radius: 25px;
}

.card:hover .card__img {
	scale: 1.05;
}

.card__photo {
	width: 100%;
	height: 200px;
	margin-bottom: 10px;
	transition: all .3s;
	overflow: hidden;
}

.card:hover .card__photo {
	border-radius: 15px;
}

.card__img {
	vertical-align: center;
	width: 100%;
	height: 100%;
	object-fit: cover;
	pointer-events: none;
	transition: .3s ease 0s;
}

.card__name {
	font-size: 20px;
	line-height: 22px;
	margin-bottom: 5px;
}
